
  <div class="chosen">
  <%= image_tag @raccoon[:avatar] %>
  <p>
    <%=@raccoon[:name]%> was chosen.
  </p>
</div>
<div class="rmp-footer">
  <p class="rmp-link">
    Victims provided by the <%= link_to "Raccoon Metadata Project", "http://raccoon-metadata-project.herokuapp.com" %>.
  </p>
</div>
</div>
