<button id="popcorn">
  <%= image_tag "popcorn.png", id: "content" %>
</button>

<div id="bg"></div>

<div id="hamburger">
    <%= image_tag "menu.svg" %>
</div>

<%= audio_tag("inception.mp3", id: "bong") %>