

<div id="wrapper">
<%= link_to (image_tag "popcorn.png", id: "content"), 'choose', id: "popcorn", remote: true %>
<div id="rays"></div>
<div id="bg"></div>
</div>


<div id="menu">
  <ul>
    <li>Manage</li>
    <li>Rankings</li>
    <li>Misc</li>
  </ul>
<%= image_tag "menu.svg", id: "hamburger" %>
</div>


  <div class="chosen-wrapper"></div>
  
  <div style = "opacity: 0;"><iframe width="560" height="315" src="https://www.youtube.com/embed/p9XMd2eAy_4?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe></div>

<%= audio_tag("inception.mp3", id: "bong") %>
