<button id="popcorn">
  <%= image_tag "popcorn.png", id: "content" %>
</button>
<div id="bg"></div>
<div id = "poop">
 
        <ul id="options">
            <li>
                Attaboy
            </li>
            <li>
                Demerit
            </li>
            <li>
                Changify
            </li>
            <li>
                <%= link_to "Xzibit", show_path %>
            </li>
        </ul>
       <div id="menu"></div>
</div>

<div id="hamburger">
    <%= image_tag "menu.svg" %>
</div>

<%= audio_tag("inception.mp3", id: "bong") %>