<div class="top-ten">
<h1>Leaderboard</h1>
  <ul class="top-ten__ul">
    <% @low_price_leaders.each do |winner| %>
      <li class = "top-ten__list-item"><%= image_tag winner.avatar, class: 'poop' %><p><%= winner.name %></p></li>
      <hr/>
    <% end %>
  </ul>
</div>


